html {
    width: 100%;
}

html, body {
    margin: 0; height: 100%; 
    overflow: hidden
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    float:left;
    width: 6vw;
    height: 100vw;
    background: #27272f;
    text-align: center;
}

.sidebar-menu{
    list-style: none;
}

.sidebar-menu li{
    text-align: center;
    margin-top: 1vw;
    display: inline-flex;
    align-items: center;
}

.button1 {
    background-color: #27272f;
    color: black;
    border: 2px solid #27272f;
    align-items: center;
  }

  .button1:hover {
    background-color: #ffffff;
    color: white;
  }

.photo_rt, .back_rem, .text_extract {
    font-family: 'Roboto', sans-serif;
    float: right;
    height: 100vw;
    width:25vw;
    background: #27272f;
    color: #ffffff;
    padding: 2vw 2vw 2vw 2vw;
}

.photo_rt input, .back_rem input {
    width: 15vw;
}

.contrast, .brightness, .sharpness, .color, .blur, .maximum, .minimum {
    color: white;
    width: 15vw;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
}

.contrast-slider, .brightness-slider, .sharpness-slider, .color-slider, .blur-slider, .minimum-slider, .maximum-slider {
    display: flex;
    align-items: center;
    width: 20vw;
}

.title {
    font-size: 20px;
}

.title_pic {
    background-color: #ffffff;
}

.button_rem_add, .button_copy_text {
    border: 2px solid #707071;
    border-radius: 5px;
    background-color: #27272f;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #707071;
    align-items: center;
}

.rem_p {
    color: #707071;
    padding-bottom: 1vw;
}

.button_rem_remove, .button_extract {
    border: 2px solid #707071;
    border-radius: 5px;
    background-color: #00fff1;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #000000;
}

.back_rem button {
    align-content: center;
}

.cent {
    text-align: center;
}

input[type="range"]::-webkit-slider-thumb:hover {
    -webkit-appearance: none !important;
    width: 25px;
    height: 25px;
    transition: width 0.2s, height 0.2s;
}

#contrast-value, #brightness-value, #sharpness-value, #color-value, #blur-value, #minimum-value, #maximum-value  {
    width: 65px;
    height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid #707071;
    border-radius: 7pt;
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="range"] {
    -webkit-appearance:none !important;
    position: flex;
    align-items: center;
    width: 500px;
    height: 10px;
    background: #707071;
    border: none;
    outline: none;
    border-radius: 5pt;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    transition: width 0.2s, height 0.2s;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.page {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.topBar {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
}

#homeButton {
    background-color: transparent;
    position: relative;
    top: 15px;
    left: 25px;  
}

#homeButton > img {
    width: 60px;
    cursor: pointer;
}

.imageName, .upload, .download {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    
}

.imageName > .label, .uploadLabel {
    color: white;
    position: relative;
    font-size: 30pt;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#editImageNameButton, #uploadImageButton, #profileButton {
    width: 40px;
    background-color: transparent;
    cursor: pointer;
}

#downloadImageButton {
    width: 40px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

#editImageNameButton > img {
    border: 1px solid #707071;
    border-radius: 7pt;
}

#editIcon {
    padding: 6px;
}

.upload {
    border: 2px solid #707071;
    border-radius: 3pt;
    cursor: pointer;
}

.download {
    background-color: #00FFF1;
    cursor: pointer;
    border-radius: 10pt;
}

.downloadLabel {
    color: black;
    position: relative;
    font-size: 30pt;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.imageContainer {
    position: relative;
    width: 30%;
    height: 30%;
    top: 1vh;
}

.zoomButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    z-index: 1;
}

#imagePreview {
    z-index: -1;
    object-fit: contain;
    transition: width 0.2s, height 0.2s;
}

.all {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
}

.zoomButtons > button {
    padding: 5pt;
    background-color: transparent;
    border: 1px solid #707071;
    border-radius: 10pt;
    cursor: pointer;
}

.zoomButtons {
    position: fixed;
    bottom: 50px;
    left: 650px
}

#zoomOutButton > img, #zoomInButton > img, .fullScreen > img {
    width: 30px;
    cursor: pointer;
}

.fullScreen {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    height: 50px;
    border: 1px solid #707071;
    border-radius: 10pt;
    color: #707071;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.fullScreen:hover {
    color: white;
    background-color: #707071;
}

.imageSizeLabel {
    color: #707071;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    background-color: #1B1B22;
}

#tx_size{
    background-color: #27272f;
    width: 65px;
    height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid #707071;
    border-radius: 7pt;
    font-family: 'Roboto', sans-serif;
    font-weight: light;
    margin-left: 20px;
    color:#ffffff;
}

#text_size {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.tx_size, .output_form {
    color: #707071;
}

.button_output {
    border: 2px solid #707071;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #707071;
    align-items: center;
}

.out_form_buttons {
    text-align: center;
}

[type='color'] {
    appearance: none;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

[type='color']::-webkit-color-swatch {
    border: none;
}

.color-picker {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #27272f;
    width: 55px;
    margin-left: 70px;
}