#topBar{
    height: 10vh;
    background-color: black;
    color: white;
    width: 99vw;
}
td.first{
    width: 15vw;
}

td.second{
    width: 10vw;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
}

td.third, td.forth{
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    color: gray;
}

td.forth{
    background-color: aqua;
    margin-right: 2em;
    width: 10vw;
    border-radius: 0.5em;
}



td.empty{
    width: 4vw;
}

td.fifth{
    width: 7vw;
    height: 3vw;
}

#picture1{
    width: 36vw;
}



#ocrPanel{
    width: 6vw;
    background-color: gray;
}

td.icon{
    height: 10vh;
}

td.last{
    height: 54vh;
    
}

#mainImaginePanel{
    background-color: darkslategray;
    width: 65vw;
}

#home{
    background-color: green;
    width: 3vw;
    height: 3vw;
}

#pen{
    background-color: gray;
    width: 3vw;
    height: 3vw;
}

#upload{
    
    width: 3vw;
    height: 3vw;
}

#download{
    
    width: 3vw;
    height: 3vw;
}

#logIn{
   width: 2vw;
   height: 3vw;
   background-color: white
}

